<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-secondary shadow-sm">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="/images/icono.png" alt="Logo JuegosBeber.es" width="30" height="30" class="d-inline-block align-text-top me-2">
            <span style="font-family: 'Montserrat', sans-serif; font-weight: 700; background: linear-gradient(90deg, #ff6b81, #ff4b2b); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">JuegosBeber.es</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Juegos
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/rooms/horse-race">Carrera de Caballos</a></li>
                        <li><a class="dropdown-item" href="/rooms/voting">Votaciones</a></li>
                        <li><a class="dropdown-item" href="/rooms/roulette">Ruleta</a></li>
                        <li><a class="dropdown-item" href="/rooms/pyramid">La Pirámide</a></li>
                        <li><a class="dropdown-item" href="/rooms/autobus">El Autobús</a></li>
                        <li><a class="dropdown-item" href="/rooms/lamente">La Mente</a></li>
                        <li><a class="dropdown-item" href="/rooms/imitador">El Imitador</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/terms">Términos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/privacy">Privacidad</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
